.row-fluid.logo
= render 'shared/navigation'
.row-fluid.weare
	%h1
		We are a
		%span.bold
			multidisciplinary design agency
		based in Berlin and
		Buenos Aires devoted to creating sticky brand experiences.
		We believe in the power of ideas to differentiate and motivate,
		working in a vast range of artistic areas.
	%h2

.row-fluid
	.works
		.row-fluid
			%h2 Proud of
			%h3 - Every single piece -
		.row-fluid
			.work
				.ph{:style => "background-image: url(#{image_path "work01.jpg"})"}
				.info
					%h5 Work Name
					%p Categories & Tags
		.row-fluid
			.work
				.ph{:style => "background-image: url(#{image_path "work05.jpg"})"}
				.info
					%h5 Work Name
					%p Categories & Tags
		.row-fluid
			.work
				.ph{:style => "background-image: url(#{image_path "work03.jpg"})"}
				.info
					%h5 Work Name
					%p Categories & Tags
.row-fluid
	.nuevediez
		%h2
			we are 0910